<footer class="footer">
    <div class="socials">
        <a href="https://vk.com/rityalnie_yslygii" target="_blank" class="social-link">
            <img src="images/icon/icon_vk.png" alt="VK">
        </a>
        <a href="https://t.me/Parzival_Romeo" target="_blank" class="social-link">
            <img src="images/icon/icon_telegram.png" alt="Telegram">
        </a>
        <a href="https://www.youtube.com/@Khanlimon" target="_blank" class="social-link">
            <img src="images/icon/icon_youtube.png" alt="YouTube">
        </a>
        <a href="https://discord.gg/pZRdETUD4J" target="_blank" class="social-link">
            <img src="images/icon/icon_discord.png" alt="Discord">
        </a>
        <a href="https://www.twitch.tv/mushy_11" target="_blank" class="social-link">
            <img src="images/icon/icon_twitch.png" alt="Twitch">
        </a>
    </div>
    <div class="footer-bottom">
        <p>© 2026 Bokiy Corp. Все права защищены.</p>
        <a href="#" class="privacy-link">Политика конфиденциальности</a>
    </div>
</footer>